* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    list-style: none;
}

body {
     background-color: black;
     color: white;
     font-size: 16px;
}


header {
    position: fixed;
    width: 80vw;
    left: 50%;
    transform: translateX(-50%);
    & img {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 600px;
        gap: 100px;
    z-index: 2;

    & img {
    width: 2;
    }
    }
    & nav {
        & ul {
        display: grid;
        grid-template-columns: repeat(3, 200px);
    }
}
}


section {
    background-image: radial-gradient(circle, #b4e197, #4caf50);
    height: 100vh;
    position: relative;
}
.arrows {
    &  button {
        & img {
            width: 100px;
        }
    }


}

